* {
  font-family: 'Reggae One', cursive;
}
body {
  /* background: #2f3437; */
}
.Container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 400px;
}
.box {
  width: 100px;
  height: 100px;
  color: white;
  margin: 20px;
  background-color: rgb(63, 68, 71);
  text-align: center;
  border-radius: 3px;
  font-size: 25px;
  transition: 0.2s ease-in;
  box-shadow: 0 0 0 2px rgb(0 0 0 / 50%);
}
.box:hover {
  cursor: pointer;
  height: 200px;
  width: 200px;
  /* background-color: ;
  color: #2f3437; */
  box-shadow: 0 0 10px rgb(35 173 255);
  font-size: 50px;
}
